@media(max-width: 1000px){
    .hero-navigation li{
        display: none;
    }
}

@media(max-width: 590px){
    .hero-call, .fa-solid{
        display: none;
    }
}

@media(max-width: 590px){
    .hero-navigation{
        width: 160px;
    }

    #hero-phone{
        display: block;
        position: absolute;
        color: white;
    }

    .hero-navigation-btn a{
        display: none;
    }
}

@media(max-width: 760px){
    .hero-main div{
        margin: auto;
        justify-content: center;
    }
}

@media(max-width: 768px){
    #hero-main{
        display: block;
        margin-top: 50px;
    }
}

@media(max-width: 768px){
    .hero-footer div:nth-child(n+3){
        display: none;
    }
}

@media(max-width: 768px){
    #hero{
        height: 1450px;
        justify-content: center;
    }
}

@media(max-width: 768px){
    #hero-about-company{
        margin-top: 50px;
    }
}

@media(max-width: 768px){
    .hero-footer{
        bottom: 10px;
        left: 20px;
        padding: 0;

    }
}

@media(max-width: 768px){
    .container-info div:nth-child(n+2){
        display: none;
    }
}

@media(max-width: 768px){
    .contract-product1{
        display: block;
    }
}

@media(max-width: 768px){
    #container-block-2{
        display: block;
    }
}

@media(max-width: 768px){
    #contract-product-1, #contract-product-2{
        display: block;
    }
}