@import './__fonts.scss';
@import './__default.scss';
@import './__colors.scss';
@import './__media.scss';

.container{
    width: 90%;
    padding: 0 75px;
    margin: 0 auto;
}

.hero{
    background-image: url('../assets/main_img.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 970px;
    width: 100%;
    position: relative;
    z-index: 0;
}

.hero::before{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgb(26, 37, 56);
    opacity: 0.4;
    z-index: -1;
}

.hero-navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 94px;
    border-bottom: 1px rgba(235, 235, 240, 0.2) solid;
    border-left: none;border-right: none;
}

.hero-navigation-logo{
    border-right: 1px rgba(235, 235, 240, 0.2) solid;
    height: 94px;
    width: 240px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.hero-navbar a, li{
    text-decoration: none;
    list-style: none;
}

.hero-nav-links{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.hero-navigation{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    color: white;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 200;
}

.hero-navigation i{
    color: $main-color;
}

.hero-navbar *{
    color: white;
}

.hero-navigation-btn{
    background-color: $main-color;
    width: 302px;
    height: 94px;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 14px;
    font-family: sans-serif;
    font-weight: 400;
}

.hero-main{
    margin-top: 150px;
}

.hero-text-hr{
    position: absolute;
    width: 150px;
    height: 2px;
    background-color: $main-color;
}

.hero-main{
    display: flex;
    color: white;
}

.hero-text{
    font-family: $main-font;
    margin-top: 50px;
}

.hero-main-text{
    font-size: 58px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0%;
}

.hero-main span{
    font-family: $main-font;
}

.hero-subtext{
    font-family: $subtext-font;
    font-size: 16px;
    font-weight: 400;
    line-height: 160%;
    margin-top: 50px;
    display: block;
}

.hero-footer{
    position: absolute;
    bottom: 0;
    display: flex;
    // gap: 20px;
    border: 1px rgba(235, 235, 240, 0.2) solid;
    justify-content: center;
    align-items: center;
}

.hero-footer-elements{
    display: flex;
    flex-direction: column;
    width: 230px;
    height: 168px;
    justify-content: center;
    align-items: center;
    border-right: 1px rgba(235, 235, 240, 0.2) solid;
    align-items: start;
    padding-left: 20px;
}

.hero-footer-elements i{
    color: $main-color;
    font-size: 36px;
}

.hero-footer-text{
    font-size: 16px;
    font-weight: 400;
    line-height: 160%;
}

.hero-about-company{
    margin-top: 50px;
}

.hero-btn{
    width: 313px;
    height: 76px;
    background-color: rgba(92, 142, 229, 1);
    border: none;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 600;
}

.hero-btn a{
    text-decoration: none;
    color: white;
}

.contract{
    margin-top: 100px;
}

.contract-hr{
    display: block;
    width: 150px;
    height: 2px;
    background-color: $main-color;
}

.contract-text{
    font-size: 40px;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 0%;
    font-family: $main-font;
    margin-bottom: 0;
}

.container-info{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.container-product-info h6{
    font-size: 48px;
    font-weight: 400;
    color: $main-color;
    margin: 50px 0 0;
    display: flex;
    align-items: center;
    gap: 10px;
}

.container-product-info h6::after{
    content: "";
    display: flex;
    width: 200px;
    height: 1px;
    background-color: rgba(235, 235, 240, 1);
    justify-content: center;
    align-items: center;
}

.container-product-info h4{
    font-size: 28px;
    font-weight: 400;
    line-height: 160%;
    letter-spacing: 0%;
    color: black;
    font-family: $main-font;
    margin: 30px 0 0;
}

.container-product-span{
    color: rgba(130, 138, 153, 1);
    font-size: 16px;
    font-weight: 400;
    line-height: 160%;
    letter-spacing: 0%;
}

.container-product-link{
    margin-top: 120px;
    text-decoration: none;
    color: $main-color;
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 30px;
}

.container-product-link::before{
    content: "";
    width: 50px;
    height: 1px;
    background-color: $main-color;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-block-2{
    margin-top: 150px;
}

.contract-product-block{
    width: 400px;
    height: 593px;
    border: 1px solid;
}

.contract-product1{
    display: flex;
    justify-content: space-between;
}

.contract-product1{
    margin-top: 50px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.contract-product-block{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 20px 0 0 20px;
    font-family: $main-font;
    position: relative;
    height: 480px;
    border: 1px rgba(235, 235, 240, 1) solid;
}

.contract-product-block:hover{
    border: 1px rgba(92, 142, 229, 1) solid;
    cursor: pointer;
}

.contract-container-text{
    font-size: 28px;
    font-weight: 400;
    line-height: 160%;
    letter-spacing: 0%;
    margin: 0;
}

.contract-container-subtext{
    font-size: 16px;
    font-weight: 400;
    line-height: 160%;
    letter-spacing: 0%;
    color: rgba(130, 138, 153, 1);
}

.contract-product2{
    display: flex;
    font-family: $main-font;
    height: 480px;
    justify-content: center;
}

.mark{
    margin-top: 100px;
}

.mark-element-hr{
    content: "";
    background-color: $main-color;
    width: 150px;
    height: 2px;
    display: flex;
}

.mark-element-text{
    font-family: $main-font;
    font-size: 30px;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 0%;
}

.mark-sections{
    margin-top: 80px;
    display: flex;
}

.mark-left-side{
    border: 1px rgba(235, 235, 240, 1) solid;
    width: 750px;
    height: 280px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    cursor: pointer;
}

.mark-right-side:hover{
    border: 1px rgba(92, 142, 229, 1) solid;
}

.mark-left-side:hover{
    border: 1px rgba(92, 142, 229, 1) solid;
}


.mark-right-side{
    border: 1px rgba(235, 235, 240, 1) solid;
    width: 750px;
    height: 280px;
}

.mark-left-side-text{
    font-family: sans-serif;
    font-size: 28px;
    font-weight: 400;
    line-height: 160%;
    letter-spacing: 0%;
}

.mark-left-side-subtext{
    font-family: sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    letter-spacing: 0%;
    color: rgba(130, 138, 153, 1);
}

.mark-right-side{
    border: 1px rgba(235, 235, 240, 1) solid;
    width: 750px;
    height: 280px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    cursor: pointer;
}

.mark-right-side-text{
    font-family: sans-serif;
    font-size: 28px;
    font-weight: 400;
    line-height: 160%;
    letter-spacing: 0%;
}

.mark-right-side-subtext{
    font-family: sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    letter-spacing: 0%;
    color: rgba(130, 138, 153, 1);
}

.mission{
    margin-top: 100px;
}

.mission-person{
    width: 700px;
    height: 600x;
}

.mission-right-hr{
    content: "";
    background-color: $main-color;
    width: 150px;
    height: 2px;
    display: flex;
}

.mission-block{
    display: flex;
    gap: 60px;
}

.mission-right-text{
    font-family: sans-serif;
    font-weight: 400;
    font-size: 40px;
    line-height: 120%;
    letter-spacing: 0%;
}

.mission-right-subtext{
    font-family: $subtext-font;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    letter-spacing: 0%;
    color: rgba(130, 138, 153, 1);
}

.mission-right-side{
    margin-top: 40px;
}

.mission-right-link{
    text-decoration: none;
    color: $main-color;
    display: flex;
    align-items: center;
    gap: 10px;
}

.mission-right-link::before{
    content: "";
    display: flex;
    width: 40px;
    height: 1px;
    background-color: $main-color;
    align-items: center;
    justify-content: center;
}

.partner{
    margin-top: 100px;
}

.partner-hr{
    content: "";
    display: flex;
    background-color: $main-color;
    width: 150px;
    height: 2px;
}

.partner-text{
    font-family: sans-serif;
    font-weight: 400;
    font-size: 30px;
    line-height: 120%;
    letter-spacing: 0%;
}

.partner-ul-left{
    display: flex;
    padding: 0;
    flex-direction: column;
}

.partner-list-item{
    display: flex;
    align-items: center;
    gap: 20px;
}

.partner-list-item p{
    font-family: Noto Sans;
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
    letter-spacing: 0%;
}

.partner-list-item i{
    color: $main-color;
}

.partner-item{
    display: flex;
}

.partner-elements{
    display: flex;
    justify-content: space-between;
}

.partner-burger-icon{
    cursor: pointer;
}

.partner-img{
    display: flex;
    width: 190px;
    height: 160px;
    border: 1px rgba(235, 235, 240, 1) solid;
    align-items: center;
    justify-content: center;
}

.partner-burger-icon{
    display: flex;
    align-items: center;
}

.partner-burger-icon img{
    width: 70px;
    height: 70px;
}


.blog{
    margin-top: 100px;
}

.blog-span{
    content: "";
    display: flex;
    background-color: $main-color;
    width: 150px;
    height: 2px;
}

.blog-text{
    font-family: $main-font;
    font-size: 30px;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 0%;
}

.blog-left-side{
    background-image: url('../assets/blog-left-side.png');
    width: 600px;
    height: 300px;
    padding: 80px 10px 5px 10px;
}

.blog-right-side{
    background-image: url('../assets/blog-right-side.png');
    width: 600px;
    height: 300px;
    padding: 113px 10px 5px 10px;
    position: relative;
    z-index: 0;
}

.blog-sides{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.blog-right-side::before{
    content: "";
    background-color: rgba(41, 45, 51, 0.6);
    position: absolute;
    z-index: -1;
    opacity: 0.9;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.blog-left-text{
    font-family: $subtext-font, sans-serif;
    font-weight: 200;
    font-size: 28px;
    line-height: 140%;
    letter-spacing: 0%;
    color: white;
}

.blog-left-subtext{
    font-family: $subtext-font, sans-serif;
    font-size: 16px;
    color: white;
    font-weight: 100;
    line-height: 160%;
    letter-spacing: 0%;
}

.blog-right-text{
    font-family: $subtext-font, sans-serif;
    font-weight: 400;
    font-size: 28px;
    line-height: 160%;
    letter-spacing: 0%;
    color: white;
}

.blog-right-subtext{
    font-family: $subtext-font, sans-serif;
    font-size: 16px;
    color: white;
    font-weight: 100;
    line-height: 160%;
    letter-spacing: 0%;
}

.blog-footer-link::before{
    content: "";
    background-color: $main-color;
    width: 40px;
    height: 1px;
    display: flex;
}

.blog-footer-elements{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

.blog-footer-link{
    color: $main-color;
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
}

.blog-footer-btn{
    width: 160px;
    height: 60px;
    background-color: $main-color;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.blog-footer-btn i{
    color: white;
    font-size: 30px;
}

.offer{
    background-color: rgba(240, 242, 245, 1);
    margin-top: 100px;
    position: relative;
    height: 452px;
    display: flex;
}

.offer-spray-img{
    position: absolute;
    bottom: 0;
    left: -50px;
}

.offer-container{
    width: 700px;
    padding: 0 50%;
}

.offer-form{
    margin-top: 100px;
    width: 700px;
}

.offer-text{
    font-family: $main-font, sans-serif;
    font-weight: 400;
    font-size: 40px;
    line-height: 120%;
    letter-spacing: 0%;
}

.offer-subtext{
    font-family: $subtext-font,sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    letter-spacing: 0%;
    color: rgba(130, 138, 153, 1);
}

.offer-input-text{
    margin-top: 20px;
    width: 300px;
    height: 46px;
    border: 1px rgba(228, 228, 235, 1) solid;
    background-color: rgba(240, 242, 245, 1);
    border-radius: 5px;
    padding: 15px;
}

.offer-input-phone{
    width: 300px;
    height: 46px;
    border: 1px rgba(228, 228, 235, 1) solid;
    background-color: rgba(240, 242, 245, 1);
    border-radius: 5px;
    padding: 15px;
}

.offer-submit-btn{
    margin-top: 20px;
    width: 200px;
    height: 50px;
    border: none;
    background-color: $main-color;
    color: white;
    cursor: pointer;
}

.offer-verify-text{
    margin-top: 25px;
    font-size: 12px;
    font-weight: 400;
    line-height: 160%;
    letter-spacing: 0%;
    font-family: $subtext-font,sans-serif;
    color: rgba(130, 138, 153, 1);
    
}

.offer-verify{
    display: flex;
    gap: 20px;
}

.footer{
    margin-top: 100px;
}

.footer-hr{
    margin: 50px 0 0 0;
}

.footer-ul{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-phone-contact{
    text-decoration: underline;
    font-weight: bold;
    font-size: 28px;
}

.footer-addres{
    font-family: Noto Sans;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    letter-spacing: 0%;
    text-decoration: none;
}

.footer-list-item i{
    color: $main-color;
}

.footer-main-ul{
    list-style: none;
}

.footer-main{
    display: flex;
    justify-content: space-between;
}

.footer-main-list-item{
    margin: 10px 0 0 10px;
    color: rgba(130, 138, 153, 1);
    font-family: Noto Sans;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    letter-spacing: 0%;
}

.footer-main-info2{
    margin-top: 35px;
}

.footer-main-col1, .footer-main-col2{
    font-family: $subtext-font, sans-serif;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0%;
    line-height: 160%;
    color: black;
}

.footer-last{
    height: 80px;
    display: flex;
    justify-content: space-between;
    color: rgba(130, 138, 153, 1);
    align-items: center;
}

.footer-last-info{
    gap: 90px;
    display: flex;
}
