@media(max-width: 1000px){
    .hero-navigation li{
        display: none;
    }
}

@media(max-width: 590px){
    .hero-call, .fa-solid{
        display: none;
    }
}

@media(max-width: 590px){
    .hero-navigation{
        width: 160px;
    }

    #hero-phone{
        display: block;
        position: absolute;
        color: white;
    }

    .hero-navigation-btn a{
        display: none;
    }
}

@media(max-width: 760px){
    .hero-main div{
        margin: 0;
        padding: 0;
        justify-content: center;
    }
}

@media(max-width: 768px){
    #hero-main{
        display: block;
        margin-top: 50px;
    }
}

@media(max-width: 768px){
    #hero{
        height: 1300px;
        justify-content: center;
    }
}

@media(max-width: 768px){
    #hero-about-company{
        margin-top: 50px;
    }
}