@import './__fonts.scss';
@import './__default.scss';
@import './__colors.scss';
@import './__media.scss';

.container{
    width: 90%;
    padding: 0 75px;
    margin: 0 auto;
}

.hero-navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 94px;
    border-bottom: 1px rgba(235, 235, 240, 0.2) solid;
    border-left: none;border-right: none;
}

.hero-navigation-logo{
    border-right: 1px rgba(235, 235, 240, 1) solid;
    height: 94px;
    width: 240px;
    align-items: center;
    display: flex;
    justify-content: center;
}


.hero-nav-links-active{
    display: none;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 20px;
    border-radius: 0 0 10px 10px;
    z-index: 999;
    transition: all 0.4s ease;
}

.hero-nav-links-active li a {
    color: white;
    padding: 10px;
    font-size: 18px;
    text-decoration: none;
}

.hero-nav-links-active li a:hover {
    text-decoration: underline;
    text-decoration-color: white;
}


.hero-nav-links-active{
    display: none;
}

.burger-menu{
    display: none;
}

.burger-menu:active{
    display: flex;
}

.burger-input{
    display: none;
}

#checkbox:checked ~ .hero-nav-links-active{
    display: flex;
    flex-direction: column;
    padding-top: 70px;
    // background-color: rgba(255, 228, 196, 0.463);
    // border-radius: 10px;
    margin-top: 20px;
    text-decoration: underline;
    text-decoration-color: black;
}


.hero-navbar a, li{
    text-decoration: none;
    list-style: none;
    color: black;
}

.hero-nav-links{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.hero-navigation{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    color: black;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 200;
}

.hero-navigation i{
    color: $main-color;
}

.hero-navbar *{
    color: white;
}

.hero-navigation-btn{
    background-color: $main-color;
    width: 302px;
    height: 94px;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 14px;
    font-family: sans-serif;
    font-weight: 400;
}

.single-block{
    height: 270px;
    background-color: rgba(240, 242, 245, 1);
    position: relative;
}

.single-block-span{
    content: "";
    display: flex;
    background-color: $main-color;
    width: 150px;
    height: 2px;
}

.single-block-elements{
    position: absolute;
    margin-top: 70px;
}

.single-block-text{
    font-family: $main-font, sans-serif;
    font-weight: 400;
    font-size: 40px;
    line-height: 120%;
    letter-spacing: 0%;
}

.single-block-link{
    text-decoration: none;
    color: rgba(130, 138, 153, 1);
    font-size: 14px;
    font-family: $subtext-font,sans-serif;
    line-height: 160%;
    letter-spacing: 0%;
}

.single-block-subtext{
    font-family: $subtext-font, sans-serif;
    font-size: 14px;
    line-height: 160%;
    letter-spacing: 0%;
}

.map-img{
    height: 500px;
    width: 100%;
}

.offer{
    background-color: rgba(240, 242, 245, 1);
    margin-top: 200px;
    position: relative;
    height: 500px;
    display: flex;
}

.offer-spray-img{
    position: absolute;
    bottom: 0;
    left: -50px;
}

.offer-container{
    width: 700px;
    padding: 0 50%;
}

.offer-form{
    margin-top: 100px;
    width: 700px;
}

.offer-text{
    font-family: $main-font, sans-serif;
    font-weight: 400;
    font-size: 40px;
    line-height: 120%;
    letter-spacing: 0%;
}

.offer-subtext{
    font-family: $subtext-font,sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    letter-spacing: 0%;
    color: rgba(130, 138, 153, 1);
}

.offer-input-text{
    margin-top: 20px;
    width: 300px;
    height: 46px;
    border: 1px rgba(228, 228, 235, 1) solid;
    background-color: rgba(240, 242, 245, 1);
    border-radius: 5px;
    padding: 15px;
}

.offer-input-phone{
    width: 300px;
    height: 46px;
    border: 1px rgba(228, 228, 235, 1) solid;
    background-color: rgba(240, 242, 245, 1);
    border-radius: 5px;
    padding: 15px;
}

.offer-submit-btn{
    margin-top: 20px;
    width: 200px;
    height: 50px;
    border: none;
    background-color: $main-color;
    color: white;
    cursor: pointer;
}

.offer-verify-text{
    margin-top: 25px;
    font-size: 12px;
    font-weight: 400;
    line-height: 160%;
    letter-spacing: 0%;
    font-family: $subtext-font,sans-serif;
    color: rgba(130, 138, 153, 1);
    
}

.offer-verify{
    display: flex;
    gap: 20px;
}


.footer-hr{
    margin: 50px 0 0 0;
}

.footer-ul{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-phone-contact{
    text-decoration: underline;
    font-weight: bold;
    font-size: 28px;
}

.footer-addres{
    font-family: Noto Sans;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    letter-spacing: 0%;
    text-decoration: none;
}

.footer-list-item i{
    color: $main-color;
}

.footer-main-ul{
    list-style: none;
}

.footer-main{
    display: flex;
    justify-content: space-between;
}

.footer-main-list-item{
    margin: 10px 0 0 10px;
    color: rgba(130, 138, 153, 1);
    font-family: Noto Sans;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    letter-spacing: 0%;
}

.footer-main-info2{
    margin-top: 35px;
}

.footer-main-col1, .footer-main-col2{
    font-family: $subtext-font, sans-serif;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0%;
    line-height: 160%;
    color: black;
}

.footer-last{
    height: 80px;
    display: flex;
    justify-content: space-between;
    color: rgba(130, 138, 153, 1);
    align-items: center;
}

.footer-last-info{
    gap: 90px;
    display: flex;
}
